Repository mdekrey/charactersheet-pdf: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

lefthook.yml:

# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{cjs,mjs,js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files} && npx prettier --write {staged_files} && git add {staged_files}
    prettier:
      glob: "*.json"
      run: npx prettier --write {staged_files} && git add {staged_files}
    typecheck:
      glob: "src/*.{ts,tsx}"
      run: npm run typecheck

Start implementing commands
  .eslintrc.cjs
  .gitattributes
  .gitignore
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/generate-pdf.mts
  src/index.mts
  src/index.ts
  tsconfig.json
Due: eslint, prettier, typecheck

Initial system/template settings
  .npmrc
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/configuration/game-system.mts
  src/configuration/template.mts
  src/generate-pdf.mts
  src/index.mts
  src/paths.mts
  src/systems/sw-weg/system.yaml
  src/systems/sw-weg/templates/character-sheet.pdf
  src/systems/sw-weg/templates/character.yaml
Due: prettier

Add debugging grid
  src/addPdfDebugging.mts
  src/generate-pdf.mts
  src/index.mts
  src/pdf-info.mts
Due: none

Add character details yaml
  characters/sw-weg/don-mela.yaml
  package.json
  pnpm-lock.yaml
  src/configuration/character.mts
  src/generate-pdf.mts
  src/paths.mts
  src/pdf/addCharacter.mts
Due: prettier

Initial popuating of PDF
  characters/sw-weg/don-mela.yaml
  src/addPdfDebugging.mts
  src/configuration/template.mts
  src/generate-pdf.mts
  src/pdf/addCharacter.mts
  src/pdf/components/index.mts
  src/pdf/components/text.mts
  src/pdf/components/types.mts
  src/systems/sw-weg/templates/character.yaml
Due: none

Implement SW top half of character sheet
  characters/sw-weg/don-mela.yaml
  src/pdf/components/text.mts
  src/systems/sw-weg/templates/character.yaml
Due: none

Adjust quote
  characters/sw-weg/don-mela.yaml
Due: none

Add "table" component for WEG-SW characters
  characters/sw-weg/don-mela.yaml
  src/pdf/components/index.mts
  src/pdf/components/table.mts
  src/pdf/components/text.mts
  src/pdf/components/utils/calcAlignment.mts
  src/systems/sw-weg/templates/character.yaml
Due: none

Add special abilities and equipment
  characters/sw-weg/don-mela.yaml
  src/pdf/components/index.mts
  src/pdf/components/list.mts
  src/pdf/components/table.mts
  src/systems/sw-weg/templates/character.yaml
Due: none

Add checkmarks
  characters/sw-weg/don-mela.yaml
  src/pdf/components/index.mts
  src/pdf/components/x.mts
  src/systems/sw-weg/templates/character.yaml
Due: none

Finish lower-left stats
  src/systems/sw-weg/templates/character.yaml
Due: none

Finish weg-sw template
  characters/sw-weg/don-mela.yaml
  src/systems/sw-weg/templates/character.yaml
Due: none

Add readme
  readme.md
Due: none

Start building 1-shot WEG characters
  characters/sw-weg/blank.yaml
  characters/sw-weg/bx-73.yaml
  characters/sw-weg/lare-lu.yaml
Due: none

Use pnpm as part of lefthook commands
  lefthook.yml
Due: none

Add more characters for swweg 1-shot
  characters/sw-weg/deolo-kael.yaml
  characters/sw-weg/don-mela.yaml
  characters/sw-weg/jael-oden.yaml
  characters/sw-weg/lare-lu.yaml
Due: none

Add third force power for Deolo
  characters/sw-weg/deolo-kael.yaml
Due: none

Write final character for SW WEG, cleanup
  characters/sw-weg/avery-clarino.yaml
  characters/sw-weg/bx-73.yaml
  characters/sw-weg/deolo-kael.yaml
  characters/sw-weg/jael-oden.yaml
  characters/sw-weg/lare-lu.yaml
Due: none

Support debugging without character
  src/generate-pdf.mts
  src/pdf/addCharacter.mts
  src/pdf/components/list.mts
  src/pdf/components/table.mts
Due: none

Improve error handling
  src/index.mts
Due: none

Allow default template to be optional
  src/configuration/game-system.mts
  src/configuration/template.mts
  src/generate-pdf.mts
Due: none

Stub Dungeon World characters
  src/systems/dungeon-world/system.yaml
  src/systems/dungeon-world/templates/dungeon-world-barbarian.pdf
  src/systems/dungeon-world/templates/dungeon-world-barbarian.yaml
  src/systems/dungeon-world/templates/dungeon-world-bard.pdf
  src/systems/dungeon-world/templates/dungeon-world-bard.yaml
  src/systems/dungeon-world/templates/dungeon-world-cleric.pdf
  src/systems/dungeon-world/templates/dungeon-world-cleric.yaml
  src/systems/dungeon-world/templates/dungeon-world-druid.pdf
  src/systems/dungeon-world/templates/dungeon-world-druid.yaml
  src/systems/dungeon-world/templates/dungeon-world-fighter.pdf
  src/systems/dungeon-world/templates/dungeon-world-fighter.yaml
  src/systems/dungeon-world/templates/dungeon-world-immolator.pdf
  src/systems/dungeon-world/templates/dungeon-world-immolator.yaml
  src/systems/dungeon-world/templates/dungeon-world-paladin.pdf
  src/systems/dungeon-world/templates/dungeon-world-paladin.yaml
  src/systems/dungeon-world/templates/dungeon-world-ranger.pdf
  src/systems/dungeon-world/templates/dungeon-world-ranger.yaml
  src/systems/dungeon-world/templates/dungeon-world-thief.pdf
  src/systems/dungeon-world/templates/dungeon-world-thief.yaml
  src/systems/dungeon-world/templates/dungeon-world-wizard.pdf
  src/systems/dungeon-world/templates/dungeon-world-wizard.yaml
Due: none

Do not run prettier on markdown files
  lefthook.yml
  package.json
Due: prettier

Correct yaml spaces to be more reliable
  .vscode/settings.json
Due: prettier

Dungeon World Fighter wip
  characters/dungeon-world/thordak.yaml
  package.json
  src/systems/dungeon-world/templates/dungeon-world-fighter.yaml
Due: prettier
